@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font-padrao: 'Sriracha', cursive;
    --font-destaque: 'Passion One', cursive;


}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    max-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 40px;
    font-family: var(--font-destaque);
    font-size: 10vw;
    font-variant: small-caps;
}
header p{
    color: lightgrey;
    padding-bottom: 40px;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover{
    text-decoration: underline;
}
div{
    font-family: var(--font-padrao);
    padding-top: 10vh;
    padding-bottom: 10vh;  
    font-size: 3.5vw;
}
.normal{
    background-color: white;
}
.imagem{
    background-color: rgb(46, 46, 46);
    box-shadow: inset 4px 4px 10px 0px rgba(0, 0, 0, 0.592);
}
#imagem1{
    background-image: url(../imagens/background001.jpg);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}
#imagem2{
    background-image: url(../imagens/background002.jpg);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}
div p{
    display: inline-block;
    padding: 10px;
    line-height: 2em;
    margin-left: 30px;

}
.imagem p{
    background-color: rgba(0, 0, 0, 0.317);
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.48);
}

footer{
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
footer p{
    font-size: 1.5vw;
}